.section-divider {

    display: flex;

    justify-content: center;

    align-items: center;

    margin: 0 auto;

    width: 100%;

    height: 140px;

}

.section-divider span {

    position: relative;

    width: min(240px, 50vw);

    height: 2px;

    background: rgba(255,136,0,.25);

}

.section-divider span::before {

    content: "";

    position: absolute;

    left: 50%;
    top: 50%;

    width: 14px;
    height: 14px;

    border-radius: 50%;

    background: var(--primary);

    transform: translate(-50%, -50%);

    box-shadow:
        0 0 15px rgba(255,136,0,.6),
        0 0 35px rgba(255,136,0,.3);

}

.section-divider span::after {

    content: "";

    position: absolute;

    inset: -8px;


}